@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
/*color pallete
Red Overlaid: #cd5554

Photographed Brown: #91684a

Algae Green: #00c07f

Heritage Blue: #313d4b

Grey: #f5f5f5
*/


/*header*/
#header{
    background-color: #00c07f;
    color: #fff;
}

.registerBtn{
    background-color:#cd5554;
    color: #fff;
}

.registerBtn:hover{
    background-color:#dd3c3c;
    color: #fff;
}

.aeccc-logo{
  height: 120px;
  width: 120px;
}

.aec-logo{
  height: 120px;
  width: 120px;
}

@media only screen and (max-width: 1024px){
  .aeccc-logo{
    height: 90px;
    width: 90px;
  }
  .header-contents{
    font-size:medium;
  }
  .aec-logo{
    height: 90px;
    width: 90px;
  }
}

@media only screen and (max-width: 600px){
  .aeccc-logo{
    height: 70px;
    width: 70px;
  }
  .header-title{
    font-size:large;
  }
  .header-contents{
    font-size:small;
  }
  .aec-logo{
    height: 65px;
    width: 65px;
  }
}
/*body for all pages*/
body{
    font-family: 'PT Serif', serif;
    background-color:#f5f5f5;
}

.parallax{
    background-image: url("../images/chess.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(1);
    z-index: -1;
}
.parallax1{
    transform: translateZ(-1px) scale(1);
    z-index: -1;
}
.parallax-text{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

hr.hr-style{
    border-top: 1px solid white;
    opacity: 1;
}

nav{
    z-index: 69;
}

.black-link{
    color: black;
}


/*Scroll to top*/
#return-to-top {
  z-index: 1;
  color: #f5f5f5;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(255, 255, 255, 0.2);
}
#return-to-top:hover i {
  color: #fff;
  top: 5px;
}

@media only screen and (max-width: 992px){
  #return-to-top{
    color: #cd5554;
  }
}


/*About Us*/
.aboutChessClub{
    text-align: justify;
}

/*gallery*/
.galleryCard{
    width: auto;
    margin-left: 1.5rem;
    border-radius: 10px;
}

.galleryCard > img{
    border-radius: 5px;
}

.galleryCard:hover{
    -webkit-box-shadow: 5px 8px 10px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 8px 10px 5px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 8px 10px 5px #c5c5c5;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.galleryimg{
    transition: transform .5s;
}

.galleryimg:hover{
    transform: scale(1.1);
}

.galleryCard {
    overflow: hidden;
  }
  .galleryCard-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
  }
  .galleryCard-img-wrapper img {
    transition: 1.5s ease;
  }
  .galleryCard:hover .galleryCard-img-wrapper img {
    transform: scale(1.15);
  }
  .galleryCard-body .galleryCard-title {
    margin-bottom: calc(50%);
    transition: 1.5s ease;
  }
  .galleryCard:hover .galleryCard-body .galleryCard-title {
    margin-bottom: .50rem;
  }
  
  .galleryCard-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background-color: #fff;
    transition: 1.5s ease;
  }
  .galleryCard-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
  }
  .galleryCard:hover .galleryCard-body {
    height: 47%;
  }
  .galleryCard:hover .galleryCard-content {
    bottom: 0;
  }


/*Core Team*/
.core_team_card:hover{
  -webkit-box-shadow: 5px 8px 10px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    5px 8px 10px 5px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         5px 8px 10px 5px #c5c5c5;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.core_team_img{
  width: 50%;
}


/*Contact*/
/* form */
.btn-color-send{
    background-color: #cd5554;
    color: white;
}

/*map embed*/
.map-style{
    overflow: hidden; 
    height: 300px;
}

/*Learn And Play Chess*/
.lichessTV{
    width: 500px; 
    height: 544px;
}

@media only screen and (max-width: 450px){
    .lichessTV{
        width: 250px; 
        height: 344px;
    }
    .lichessStudies{
      width: 200px;
      height: 200px;
    }
}

.lichessStudies{
    width:600px;
    height:370px;
}

@media only screen and (max-width: 768px){
    .lichessStudies{
        width:600px;
        height:200px;
    }
}
/*Footer*/
#footer{
    background-color: #313d4b;
    color: #fff;
}

.icons{
    color: #fff;
}

#parallax-carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*home*/
.parallax1{
    background-image: url("../images/chess.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transform: translateZ(-1px) scale(1);
    z-index: -1;
    
}
.parallax-text1{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
@keyframes example {
    0%   {background-image: url("../images/chess.jpg");}
    35%  {background-image: url("../images/chessback1.jpeg");}
    66%  {background-image: url("../images/chessback2.jpg");}
    100% {background-image: url("../images/chess.jpg");}
  }

.nav-item:hover{
    box-shadow: 1px 1px 20px  rgba(190, 190, 190, 0.911) inset;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

.navbar-background{
    background-color: #f5f5f5;
}

.sticky + .content {
    padding-top: 60px;
  }

.btn-join-us{
    background-color: #cd5554;
    color: white;
    border-color:#cd5554;
}


/*preloader*/
.sk-folding-cube {
    position: absolute;
    top: 48%;
left: 48%;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cd5554;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    z-index: 999999;
    }


    .marquee1{
        color: black;
        text-decoration: none;
        font-size: 18px;
    }
    .marquee1:hover{
        color: #cd5556
    }

    .president-background{
        background-image: url("../images/crumpled-paper.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .president-heading{
        font-family: 'PT Serif', serif;
        color: black;
        font-weight: 700;
    }

    body{
      background: linear-gradient(-45deg, #cd5554, #91684a, #00c07f, #313d4d);
	    background-size: 400% 400%;
	    animation: gradient 20s ease infinite;
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
    .shatranj{
      background-color: #f5f5f5;
    }
    .marquee-back{
      background-color: #f5f5f5;
    }  
   
    .anchor{
      display: block;
      height: 120px; /*same height as header*/
      margin-top: -120px; /*same height as header*/
      visibility: hidden;
    }
  
sup{
  color:red;
}
