@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

/*color pallete
Red Overlaid: #cd5554

Photographed Brown: #91684a

Algae Green: #00c07f

Heritage Blue: #313d4b

Grey: #f5f5f5
*/


/*header*/
#header{
    background-color: #00c07f;
    color: #fff;
}

.registerBtn{
    background-color:#cd5554;
    color: #fff;
}

.registerBtn:hover{
    background-color:#dd3c3c;
    color: #fff;
}

/*body for all pages*/
body{
    font-family: 'PT Serif', serif;
    background-color:#f5f5f5;
}

.parallax{
    background-image: url("../images/chess.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateZ(-1px) scale(1);
    z-index: -1;
}
.parallax1{
    transform: translateZ(-1px) scale(1);
    z-index: -1;
}
.parallax-text{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

hr.hr-style{
    border-top: 1px solid white;
    opacity: 1;
}

nav{
    z-index: 69;
}

.black-link{
    color: black;
}

/*About Us*/
.aboutChessClub{
    text-align: justify;
}

/*gallery*/
.galleryCard{
    width: auto;
    margin-left: 1.5rem;
    border-radius: 10px;
}

.galleryCard > img{
    border-radius: 5px;
}

.galleryCard:hover{
    -webkit-box-shadow: 5px 8px 10px 5px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    5px 8px 10px 5px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         5px 8px 10px 5px #c5c5c5;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.galleryimg{
    transition: transform .5s;
}

.galleryimg:hover{
    transform: scale(1.1);
}

.galleryCard {
    overflow: hidden;
  }
  .galleryCard-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
  }
  .galleryCard-img-wrapper img {
    transition: 1.5s ease;
  }
  .galleryCard:hover .galleryCard-img-wrapper img {
    transform: scale(1.15);
  }
  .galleryCard-body .galleryCard-title {
    margin-bottom: calc(50%);
    transition: 1.5s ease;
  }
  .galleryCard:hover .galleryCard-body .galleryCard-title {
    margin-bottom: .50rem;
  }
  
  .galleryCard-body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5%;
    background-color: #fff;
    transition: 1.5s ease;
  }
  .galleryCard-content {
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
    transition: 1.5s ease;
  }
  .galleryCard:hover .galleryCard-body {
    height: 47%;
  }
  .galleryCard:hover .galleryCard-content {
    bottom: 0;
  }

/*Contact*/
/* form */
.btn-color-send{
    background-color: #cd5554;
    color: white;
}

/*map embed*/
.map-style{
    overflow: hidden; 
    height: 300px;
}

/*Learn And Play Chess*/
.lichessTV{
    width: 500px; 
    height: 544px;
}

@media only screen and (max-width: 600px){
    .lichessTV{
        width: 300px; 
        height: 344px;
    }
}

.lichessStudies{
    width:600px;
    height:370px;
}

@media only screen and (max-width: 768px){
    .lichessStudies{
        width:310px;
        height:200px;
    }
}
/*Footer*/
#footer{
    background-color: #313d4b;
    color: #fff;
}

.icons{
    color: #fff;
}

#parallax-carousel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*home*/
.parallax1{
    background-image: url("../images/chess.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: example;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transform: translateZ(-1px) scale(1);
    z-index: -1;
    
}
.parallax-text1{
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
@keyframes example {
    0%   {background-image: url("../images/chess.jpg");}
    35%  {background-image: url("https://images.chesscomfiles.com/uploads/v1/article/17623.87bb05cd.668x375o.47d81802f1eb@2x.jpeg");}
    66%  {background-image: url("https://ak.picdn.net/shutterstock/videos/5985872/thumb/1.jpg");}
    100% {background-image: url("../images/chess.jpg");}
  }
.nav-item:hover{
    box-shadow: 1px 1px 20px  rgba(190, 190, 190, 0.911) inset;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.navbar-background{
    background-color: #f5f5f5;
}
.sticky + .content {
    padding-top: 60px;
  }
.btn-join-us{
    background-color: #cd5554;
    color: white;
    border-color:#cd5554;
}


/*preloader*/
.sk-folding-cube {
    position: absolute;
    top: 48%;
left: 48%;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #cd5554;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }

  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    z-index: 999999;
    }

